﻿@model FizzBuzz.Web.Models.FizzBuzzModel
@{
    Layout = null;
    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FizzBuzzInput</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/FizzBuzz.css" rel="stylesheet" />

    @using (Html.BeginForm("FizzBuzz", "FizzBuzz", FormMethod.Post))
    {
        <fieldset>
            <table>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.InputValue)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.InputValue)
                            @Html.ValidationMessageFor(m => m.InputValue)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="submit" name="DisplayList" value="Display List" />
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>

        if (Model != null && Model.FizzBuzzValuesList != null)
        {
        <fieldset>
            <legend>FizzBuzzDisplay</legend>

            <div>
                @foreach (var item in Model.FizzBuzzValuesList)
                {
                    <div class=@item>
                        @item
                    </div>
                }
            </div>
        </fieldset>
                if (Model.ShowPrevLink)
                {
        @Html.ActionLink("Previous", "DisplayPaging", new { inputValue = Model.InputValue, pageNumber = Model.PageNumber, linkText = "Prev" })
        <span class="next"></span>
                }
                if (Model.ShowNextLink)
                {
        
        @Html.ActionLink("Next", "DisplayPaging", new { inputValue = Model.InputValue, pageNumber = Model.PageNumber, linkText = "Next" })
                }
        }
    }
</body>
</html>
